.search-bar {
  display: flex;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #fff;
  justify-content: start;

}

.search{
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  /* justify-content: start;
  display: flex;
  align-items: start; */
  
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
